Source: ros-indigo-industrial-moveit-benchmarking
Section: misc
Priority: extra
Maintainer: Levi Armstrong <levi.armstrong@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-constrained-ik, ros-indigo-moveit-core, ros-indigo-moveit-ros-planning, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-stomp-moveit
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-industrial-moveit-benchmarking
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-constrained-ik, ros-indigo-industrial-collision-detection, ros-indigo-moveit-core, ros-indigo-moveit-ros-planning, ros-indigo-pluginlib, ros-indigo-roscpp, ros-indigo-stomp-moveit
Description: This package contains tools used to benchmark both constrianed_ik and stomp.
